@media only screen and (max-width: 768px) {
    .listcontainer {
        display: none;
    }

    .mobilelistcontainer {
        display: block;
    }
}

.listitemheader {
    list-style-type: none;
}

.drawer-container {
    background-color: red;
}

.drawer-sidenav {
    background-color: blue;
}