@media only screen and (max-width: 768px) {
    .listcontainer {
        display: none;
    }

    .mobilelistcontainer {
        display: block;
    }
}

.listitemheader {
    list-style-type: none;
}