<mat-toolbar color="accent">
    <div>Powered by Angular</div>
    <div>Hosted by AWS</div>
    <div class="button-container">
        <button mat-button>
            <img class="button-img" src="../../assets/In-White-34.png" />
        </button>
        <button mat-button>
            <img class="button-img" src="../../assets/GitHub-Mark-Light-32px.png" />
        </button>
        <button mat-button>
            <img class="button-img" src="../../assets/Twitter social icons - rounded square - white.png" />
        </button>
    </div>
</mat-toolbar>