<section fxLayout>
    <div>
        <h1>About Me</h1>
        <p>
            Hey! My name is Isaac Gilman and I hate bad user experieneces. I became a developer to help build amazing
            solutions with a customer centric approach.
            I am full-stack software engineer at Amrock with 2 years of development expereince and over 8 years of IT
            expereince.
        </p>
        <p>
            I became a engineer overtime, without a formal CS degree. My background is in Urban Planning, where I love
            mixing technology and cities.

            Feel free to reach out with any questions here: or check out my LinkedIn, GitHub and Twitter.

        </p>
        <p>Here are technologies I currently work with, but I am always open to learning more!</p>
        <ul>
            <li>.NET/C#</li>
            <li>Angular</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Node.Js</li>
            <li>SQL</li>
        </ul>
    </div>
    <div>
        <img class="headshot" src="../../assets/IsaacGilman-headshot.jpeg" alt="IsaacGilman-headshot">
    </div>

</section>