<div class="card-container">
    <mat-card>
        <mat-card-subtitle>Hey, my name is</mat-card-subtitle>
        <mat-card-title>Isaac Gilman</mat-card-title>
        <mat-card-content>
            <p>I like to create amazing user expereinces on the web!</p>
            <p>I'm a full-stack software engineer focused on improving real estates most complex processes at Amrock,
                part
                of
                the Rocket Family of Companies</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <div class="button-container">
            <button mat-button>
                <img class="button-img" src="../../assets/In-White-34.png" />
            </button>
            <button mat-button>
                <img class="button-img" src="../../assets/GitHub-Mark-Light-32px.png" />
            </button>
            <button mat-button>
                <img class="button-img" src="../../assets/Twitter social icons - rounded square - white.png" />
            </button>
        </div>
    </mat-card>
</div>