<div class="bodycontainer" fxLayout="column">
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" position="end">
      <ul class="unorderedlistelement" fxLayout="column">
        <li class="listitemheader">About</li>
        <li class="listitemheader">Experience</li>
        <li class="listitemheader">Work Examples</li>
        <li class="listitemheader">Contact</li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <app-body></app-body>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer fxFlexOffset="auto"></app-footer>
</div>