@use '@angular/material' as mat;
@use '../../styles.scss' as styles;

.card{
  //1024 if they were just one column
  width: 600px;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 20px 0;

    &:hover{
      @include mat.elevation(4, green);
      border: 1px solid blue;
      cursor: pointer;
    }
    &:active {
      @include mat.elevation(24, red);
      background-color: aqua;
    }
}

.card-content{
  padding: 10px ;
}

@include styles.respond-to('large'){
  .card{
    width: 762px
  }
}

@include styles.respond-to('small'){
  .card{
      flex-direction: column;
      width: auto;
      height: auto;
  }
  
  .card-img{
    height: 200px;
    object-fit: cover;
  }
}