<!-- todo next: figure out how to raise/hover over the mat card and click on it to route to the details -->

<mat-card class="card">
  <img mat-card-image class="image " src={{image}} alt="Photo of a Shiba Inu">
  <mat-divider></mat-divider>
  <div class="card-content">
    <h1>{{title}}</h1>
    <p>
      {{description}}
    </p>
  </div>
</mat-card>
<!-- 
<mat-card class="desktopcard responsive">
  <img mat-card-image class="desktopimage " src={{image}} alt="Photo of a Shiba Inu">
  <mat-divider></mat-divider>
  <div class="card-content">
    <h1>{{title}}</h1>
    <p>
      {{description}}
    </p>
  </div>
</mat-card>

<mat-card class="mobilecard responsive">
  <img mat-card-image class="mobilecardimage " src={{image}} alt="Photo of a Shiba Inu">
  <mat-divider></mat-divider>
  <div class="card-content">
    <h1>{{title}}</h1>
    <p>
      {{description}}
    </p>
  </div>
</mat-card> -->

<!-- <mat-card class="example-card">
    <img mat-card-image class="example-header-image " src={{image}} alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title >{{title}}</mat-card-title>
      <mat-card-subtitle >{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{description}}
      </p>
    </mat-card-content>
</mat-card> -->