// h1 {
//   margin: 0;
// }

// .card-content {
//   padding: 10px;
// }

$breakpoint: (
  "mobile": 0,
  "notmobile": 480px
);

@mixin mobile {
  @media only screen and (min-width: map-get($breakpoint, "mobile")) {
    @content;
  }
}

@mixin notmobile {
  @media only screen and (min-width: map-get($breakpoint, "notmobile")) {
    @content;
  }
}

.card {
  @include mobile {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    height: 300px;
    margin: 10px 0;
  }

  @include notmobile {
    display: flex;
    flex-direction: row;
    min-width: 350px;
    height: 200px;
    margin: 10px 0;
  }
}

.image {
  @include mobile {
    object-fit: cover;
    height: 200px;
  }

  @include notmobile {
    object-fit: contain;
    border-bottom-left-radius: inherit;
  }
}