@use '../../styles.scss' as styles;

.home-text{
    display: flex;
}

.bio-container{
    flex: 1;
}

.headshot-container{
    display: none;
}

@include styles.respond-to('medium'){
    .headshot-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}

.contactinfo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.social-logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
    &:hover{
        transform: scale(1.5)
    }
}

.headshot{
    height: 350px;
}

.workcard-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

@include styles.respond-to('small'){
    .workcard-container{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 50px;
    }
}