<div class="body">
  <section>
    <h1>Hi, I'm Isaac</h1>
    <p>I am a full stack software engineer with over 10 years of experience in the technology world and 3 years of
      experience as a softwar engineer.</p>
    <p>Professionally, I am experienced in all things fin-tech especially as it relates to the Mortgage and Title
      industries.</p>
    <p>You can find more on my LinkedIn and GitHub or check out some of my projects below.</p>
    <p>Feel free to email if you have any questions at ENETER EMAIL HERE</p>
  </section>
</div>
<app-workexperiencecard *ngFor="let job of jobs" routerLink="work"></app-workexperiencecard>