.home-text{
    display: flex;
}

.bio-container{
    flex: 1;
}

.headshot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contactinfo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.social-logo{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.headshot{
    height: 350px;
    // width: 200px;
    // object-fit: contain;
}

.workcard-container{
    margin-top: 100px;
}