<div class="body">
  <section>
    <h1>Hi, I'm Isaac</h1>
    <p>I am a full stack software engineer with over 10 years of experience in the technology world and 3+ years of
      experience as a softwar engineer.</p>
    <p>Professionally, I am experienced in all things fin-tech especially as it relates to the Mortgage and Title
      industries.</p>
    <div class="contactinfo-container">
      <p>Reach out to me here:</p>
      <img src="../../assets/LI-In-Bug.png" alt="LinkedIn Logo">
      <img src="../../assets/2021 Twitter logo - blue.png" alt="Twitter Logo">
      <img src="../../assets/github-mark.png" alt="GitHub Logo">

        <a href="https://www.linkedin.com/in/isaacgilman/"></a>
        <a href="https://twitter.com/IsaacGilman"></a> 
        <a href="https://github.com/IGilman"></a> 



    </div>

    <!-- <p>You can find more on my LinkedIn and GitHub or check out some of my projects below.</p>
    <p>Feel free to email if you have any questions at gilman.isaac[at]gmail.com</p> -->
  </section>
</div>
<app-workexperiencecard *ngFor="let job of jobs" [routerLink]="['/work', job.jobname]"
  [componentJob]="job"></app-workexperiencecard>